.advantage__list {
  background-color: #81b3d2;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 0;
  margin: 0;
  margin-top: 32px;
  list-style-type: none;
  text-align: center;
}


.advantage__item-text {
  background: #eeeeee;
  color: #000000;
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.advantage__list-title {
  background-color: #ffffff;
  color: #000000;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
