.advantage__list {
  background-color: #eeeeee;
  padding: 0;
  margin: 0;
  margin-top: 32px;
  list-style-type: none;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantage__item {
  background-color: #81b3d2;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantage__container {
  color: #ffffff;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.advantage__text {
  @media (min-width: $tablet-width) {
    width: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.advantage__item-title {
  background-color: #ffffff;
  padding-top: 26px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    width: 256px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 69px;
    width: 400px;
  }
}

.advantage__item--small {
  display: block;
  background: #eeeeee;
  border-bottom: 1px solid #d6d6d6;
  margin-left: 18px;
  margin-right: 18px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    width: 256px;
    margin-left: 0;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.advantage__list-title {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-bottom: 46px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
  }
}

.advantage__svg {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.advantage__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding-top: 11px;
  padding-bottom: 17px;
}

.advantage-block__title {
  margin: 0;
  padding-top: 33px;

  @media (min-width: $tablet-width) {
    padding-top: 52px;
  }
}

.advantage-block__text {
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 51px;
  }
}

.advantage__text-title {
  margin: 0;
  padding-top: 9px;
  padding-left: 10px;

  @media (min-width: $tablet-width) {
    padding-top: 52px;
  }
}

.advantage__text-text {
  margin: 0;
  padding-left: 65px;
  padding-right: 18px;
  text-align: start;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 61px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 68px;
  }
}

.advantage__text-depiction {
  text-align: center;
  padding-bottom: 38px;

  @media (min-width: $tablet-width) {
    padding-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 51px;
  }
}

.advantage__title {
  margin: 0;
  padding-top: 24px;

  @media (min-width: $tablet-width) {
    padding-top: 52px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 63px;
  }
}

.advantage__text-description {
  text-align: center;
  margin: 0;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    padding-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 41px;
  }
}

.advantage__block {
  display: flex;
  padding-left: 19px;
  padding-bottom: 12px;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.advantage-item__icon-house {
  @media (min-width: $tablet-width) {
    width: 77px;
    height: 72px;
  }
}

.advantage-item__icon-burger {
  @media (min-width: $tablet-width) {
    width: 80px;
    height: 68px;
  }
}

.advantage-item__icon-gift {
  @media (min-width: $tablet-width) {
    width: 66px;
    height: 75px;
  }
}
