.advantage__list {
  background-color: #81B3D2;
  color: #ffffff;
  padding: 0;
  margin: 0;
  margin-top: 32px;
  list-style-type: none;
  text-align: center;
}

.advantage__list-title {
  background-color: #ffffff;
  color: #000000;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}

.advantage__list-text {
  background-color: #eeeeee;
  color: #000000;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}

.block-title {
  padding: 0;
  margin: 0;
  margin-top: 33px;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.block-text {
  padding: 0;
  margin: 0;
  margin-top: 17px;
  margin-bottom: 33px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
