.button {
  background: #81b3d2;
  color: #ffffff;
  padding: 16px 49px;
  text-decoration: none;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  border: none;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    padding: 16px 121px;
  }
}
