.button {
  background: #81b3d2;
  color: #ffffff;
  padding: 16px 49px;
  text-decoration: none;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  border: none;
  text-transform: uppercase;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }
}

.button-review {
  width: 284px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 16px 0;

  @media (min-width: $tablet-width) {
    width: 324px;
    margin-left: 60px;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    width: 384px;
    margin-left: 216px;
  }
}
