.copyright {
  padding-top: 40px;
  padding-bottom: 23px;
}

.copyright__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  &:hover {
    color: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
  }
}

.copyright__link {
  position: relative;
  top: 12px;
  margin-left: 12px;
}

.copyright__path {
  &:hover {
    fill: #81b3d2;
  }

  &:active {
    fill: #b3b3b3;
  }
}
