.copyright {
  padding-top: 40px;
  padding-bottom: 23px;
}

.copyright__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding-right: 12px;
  color: #333333;

  &:hover {
    color: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
  }
}


.copyright__link {
  text-decoration: none;
  position: relative;
  margin-left: 12px;
  top: 12px;

  &:hover {
    color: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
  }
}

.copyright__path {
  &:hover {
    fill: #81b3d2;
  }

  &:active {
    fill: #b3b3b3;
  }
}

.copyright__svg {
  vertical-align: middle;
}
