.footer {
  padding: 0;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 64px;
    margin-bottom: 36px;
  }
}

.footer__social {
  display: flex;
  margin: 0;
  padding-top: 33px;
  padding-left: 82px;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    justify-content: space-around;
    padding-left: 0;
  }
}

.footer__text {
  color: #000000;
  margin: 0;
  padding-top: 28px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
}
