.form {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.form__label {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.form__label:first-child {
  padding-top: 0;
}

.form__input {
  padding: 16px;
  background: #f2f2f2;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  width: 100%;
  box-sizing: border-box;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #ffffff;
    border: 4px solid #e5e5e5;
  }

  @media (min-width: $tablet-width) {
    width: 248px;
  }

  @media (min-width: $desktop-width) {
    width: 398px;
  }
}

.form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding-top: 24px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.form__input-textarea {
  width: 100%;
  height: 150px;
  background: #f2f2f2;

  @media (min-width: $tablet-width) {
    height: 160px;
  }
}

.form__input-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
  padding: 16px;
  margin-right: 20px;
  margin-left: 20px;
  border: none;

  @media (min-width: $tablet-width) {
    margin-right: 60px;
    margin-left: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 216px;
    margin-left: 216px;
  }
}


.form__group-fieldset {
  display: flex;
  border: none;
  margin: 0;
  padding: 24px 20px;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding: 0;
  }
}

.form__group-border {
  @media (min-width: $tablet-width) {
    border-top: 1px solid #dbdbdb;
  }
}

.form__group-fieldset:last-child {
  border-bottom: none;
}

.form__group-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 96px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 173px;
  }
}

.form__group-list--option {
  @media (min-width: $tablet-width) {
    padding-left: 144px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 165px;
  }
}

.form__group-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: initial;
  }
}

.form__list {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.form__item {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    border-right: 1px solid #d8d8d8;
    padding-left: 60px;
    padding-right: 43px;
    padding-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 102px;
    padding-right: 63px;
  }
}

.form__item:last-child {
  @media (min-width: $tablet-width) {
    border-right: none;
    padding-left: 43px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 63px;
    padding-right: 102px;
  }
}

.form__initials {
  padding-left: 20px;
  padding-top: 16px;
}

.form__legend {
  padding-top: 24px;

  @media (min-width: $tablet-width) {
    padding-top: 48px;
    padding-bottom: 28px;
    width: 402px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 56px;
    padding-bottom: 45px;
  }
}

.form__group-text {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-right: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 28px;
  }

  &:hover {
    .form__checkbox,
    .form__group-button-custom {
      background-color: #e5e5e5;
    }
  }
}

.form__group-description {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-right: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 48px;
  }
}

.form__group-button {
  position: absolute;
  appearance: none;

  &:checked + .form__group-button-custom::before {
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    content: "";
    top: 15px;
    left: 15px;
    background-image: url("../img/shape.svg");
  }
}

.form__group-button-custom {
  display: inline-block;
  position: relative;
  margin-right: 16px;
  background-color: #f2f2f2;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}


.form__custom-checkbox {
  position: absolute;
  appearance: none;

  &:checked + .form__checkbox::before {
    width: 22px;
    height: 16px;
    display: block;
    position: absolute;
    content: "";
    top: 15px;
    left: 12px;
    background-image: url("../img/tick.svg");
  }
}

.form__checkbox {
  display: inline-block;
  position: relative;
  margin-right: 16px;
  background-color: #f2f2f2;
  width: 46px;
  height: 46px;
  border-radius: 4px;
}

.form__container {
  display: flex;

  .form__input {
    flex-grow: 1;
  }
}

.form__phone {
  display: inline-block;
  position: relative;
  flex-shrink: 0;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;

  &::before {
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    content: "";
    top: 20px;
    left: 20px;
    background-image: url("../img/phone.svg");
  }
}

.form__mail {
  display: inline-block;
  position: relative;
  flex-shrink: 0;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;

  &::before {
    width: 16px;
    height: 12px;
    display: block;
    position: absolute;
    content: "";
    top: 23px;
    left: 21px;
    background-image: url("../img/mail.svg");
  }
}

.form__container-review {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: baseline;
  }
}
