.interest {
  margin: 0;
  text-align: center;
  padding-top: 38px;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-top: 61px;
    padding-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 66px;
  }
}

.interest__title {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.interest__description {
  margin: 0;
  padding-top: 38px;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 45px;
  }
}
