.main-container__logo {
  background-color: #81b3d2;
  background-image: url("../img/intro-triangle.svg"), url("../img/back-mobile.jpg");
  background-position: bottom, center;
  background-size: 100% auto;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background-image: url("../img/group2.svg"), url("../img/tablet.jpg");
    height: 518px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/group2@2x.svg"), url("../img/tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/group3.svg"), url("../img/desktop.jpg");
  }
}

.main-container__img {
  padding-top: 90px;
  padding-bottom: 85px;
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 461px;
    padding-top: 77px;
  }

  @media (min-width: $desktop-width) {
    width: 459px;
  }
}

.index-text__title {
  margin: 0;
  padding-top: 32px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 47px;
    padding-left: 124px;
    padding-right: 124px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 59px;
    padding-left: 358px;
    padding-right: 358px;
  }
}

.index-text__text {
  margin: 0;
  text-align: center;
  padding-bottom: 16px;
  padding-left: 18px;
  padding-right: 18px;

  @media (min-width: $tablet-width) {
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 44px;
  }
}
