.main-container__header {
  margin-bottom: 25px;
}

.main-container__logo {
  background-image: url("../img/intro-triangle.svg.svg"), url("../img/back-mobile.jpg.jpg");
  background-position: bottom, center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-bottom: 39px;
}
